<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<title>Recomendation System</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
      th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
    .w3-sidebar {
        z-index: 3;
        width: 250px;
        top: 43px;
        bottom: 0;
        height: inherit;
    }
</style>
<body>

<div class="w3-top">
    <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
        <a href="/home" class="w3-bar-item w3-button w3-theme-l1">FINKI</a>
        <a href="/professors" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Professors</a>
        <a href="/courses" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Courses</a>

        <div sec:authorize="hasRole('ROLE_STUDENT')">
            <a href="/ratingsUP" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Professor Ratings</a>
            <a href="/ratingsUC" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Course Ratings</a>
        </div>

        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <a href="/ratingsUP/all" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Ratings for Professors</a>
            <a href="/ratingsUC/all" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Ratings for Courses</a>

            <a href="/studyprograms" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Study Programs</a>
        </div>
        <a href="/#">
            <span sec:authentication="principal.username"></span>
        </a>
        <a th:href="@{/logout}" class="w3-bar-item w3-button w3-hide-small w3-hover-white float-right">Logout</a>
    </div>
</div>


<div class="w3-main" >

    <div class="w3-row w3-padding-64" style="margin-left:250px">
        <div class="w3-twothird w3-container">
            <h1 class="w3-text-teal">Adding new Professor</h1>

            <div class="w3-row-padding">

                <div class="w3-half">
                    <form class="w3-container w3-card-4" action="/professors"
                          th:action="@{/professors}"
                          method="post"
                          th:object="${professor}">
                        <input type="text" hidden="hidden" name="id" th:value="${professor.getId()}">
                        <h2>New professor:</h2>
                        <div class="w3-section">
                            <input class="w3-input" required type="text"
                                   th:value="${professor.getFirstName()}"
                                   id="firstName"
                                   name="firstName"
                                   th:field="*{firstName}"
                            >
                            <label for="firstName">First Name</label>
                        </div>
                        <div class="w3-section">
                            <input class="w3-input" required type="text"
                                   th:value="${professor.getLastName()}"
                                   id="lastName"
                                   name="lastName"
                                   th:field="*{lastName}">
                            <label for="lastName">Last Name</label>
                        </div>
                        <div class="w3-section">
                            <input class="w3-input" required type="text"
                                   th:value="${professor.getTitle()}"
                                   id="title"
                                   name="title"
                                   th:field="*{title}">
                            <label for="title">Title</label>
                        </div>
                        <div class="w3-section">
                            <input class="w3-input" required type="email"
                                   th:value="${professor.getEmail()}"
                                   id="email"
                                   name="email"
                                   th:field="*{email}">
                            <label for="email">E-Mail</label>
                        </div>


                        <div class="w3-left" style="padding: 30px">
                            <button type="submit" class="w3-button w3-theme" style="margin: 20px">Submit</button>
                            <a type="button" class="w3-button w3-theme" href="/professors">Back to Professors</a>

                            <br>
                        </div>
                        <br>
                    </form>
                </div>

            </div>

        </div>

    </div>


    <footer id="myFooter">
        <div class="w3-container w3-theme-l2" style="width: 100%">
            <h6>Jovana Hristova</h6>
        </div>

        <div class="w3-container w3-theme-l1">
            <p>Powered by <a href="https://finki.ukim.mk/" target="_blank">FINKI</a></p>
        </div>
    </footer>
</div>




</body>
</html>
