<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<title>Recomendation System</title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/vendor/bootstrap/bootstrap.min.css">
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/jquery-migrate/jquery-migrate.min.js"></script>
<script src="/static/vendor/popper.min.js"></script>
<script src="/static/vendor/bootstrap/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
      th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/vendor/bootstrap/bootstrap.min.css">
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/jquery-migrate/jquery-migrate.min.js"></script>
<script src="/static/vendor/popper.min.js"></script>
<script src="/static/vendor/bootstrap/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
    .w3-sidebar {
        z-index: 3;
        width: 250px;
        top: 43px;
        bottom: 0;
        height: inherit;
    }
</style>
<body>

<div class="w3-top">
    <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
        <a href="/home" class="w3-bar-item w3-button w3-theme-l1">FINKI</a>
        <a href="/professors" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Professors</a>
        <a href="/courses" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Courses</a>

        <div sec:authorize="hasRole('ROLE_STUDENT')">
            <a href="/ratingsUP" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Professor Ratings</a>
            <a href="/ratingsUC" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Course Ratings</a>
        </div>

        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <a href="/ratingsUP/all" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Ratings for Professors</a>
            <a href="/ratingsUC/all" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Ratings for Courses</a>

            <a href="/studyprograms" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Study Programs</a>
        </div>
        <a href="/#">
            <span sec:authentication="principal.username"></span>
        </a>
        <a th:href="@{/logout}" class="w3-bar-item w3-button w3-hide-small w3-hover-white float-right">Logout</a>
    </div>
</div>
<div class="w3-main" >

    <div class="w3-row w3-padding-64" style="margin-left:250px">
        <div class="w3-twothird w3-container">
            <h1 class="w3-text-teal">List of all ratings for all courses</h1>

            <div class="w3-container">
                <hr>

                <br>
                <br>
                <div class="w3-responsive w3-card-4" th:if="${ratingsUC.getSize() > 0}">
                    <table class="w3-table w3-striped w3-bordered">
                        <thead>
                        <tr class="w3-theme">
                            <th scope="col">Professor</th>
                            <th scope="col">Rating</th>
                            <th scope="col">Comment</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="rating : ${ratingsUC}">
                            <td th:text="${rating.getCourse().getName()}"></td>
                            <td th:text="${rating.getRating()}"></td>
                            <td th:text="${rating.getComment()}"></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="text-center" style="padding: 30px">
                    <nav aria-label="Pagination" th:if="${ratingsUC.totalPages gt 0}">
                        <ul class="pagination justify-content-center font-weight-bold">
                            <li class="page-item" th:classappend="${ratingsUC.number eq 0} ? 'disabled'">
                                <a class="page-link"
                                   th:href="@{/ratingsUC/all?page={id}(id=${ratingsUC.number lt 2 ? 1 : ratingsUC.number})}"
                                   aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" th:classappend="${i eq ratingsUC.number + 1} ? 'active'"
                                th:each="i : ${#numbers.sequence( 1, ratingsUC.totalPages, 1)}">
                                <a class="page-link" style="color: black" th:href="@{/ratingsUC/all?page={id}(id=${i})}" th:text="${i}"
                                   th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                            </li>
                            <li class="page-item" th:classappend="${ratingsUC.number + 1 eq ratingsUC.totalPages} ? 'disabled'">
                                <a class="page-link" style="color: black"
                                   th:href="@{/ratingsUC/all?page={id}(id=${ratingsUC.number + 2})}"
                                   aria-label="Next" title="Next Page" data-toggle="tooltip">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <a type="button" class="w3-button w3-theme" href="/home">Back</a>
            </div>
            </div>

        </div>

    </div>



<footer id="myFooter">
    <div class="w3-container w3-theme-l2" style="width: 100%">
        <h6>Jovana Hristova</h6>
    </div>

    <div class="w3-container w3-theme-l1">
        <p>Powered by <a href="https://finki.ukim.mk/" target="_blank">FINKI</a></p>
    </div>
</footer>

</div>


</body>
</html>
