<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<title>Recomendation System</title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/vendor/bootstrap/bootstrap.min.css">
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/jquery-migrate/jquery-migrate.min.js"></script>
<script src="/static/vendor/popper.min.js"></script>
<script src="/static/vendor/bootstrap/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
    .w3-sidebar {
        z-index: 3;
        width: 250px;
        top: 43px;
        bottom: 0;
        height: inherit;
    }
</style>
<body>

<div class="w3-top">
    <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
        <a href="/home" class="w3-bar-item w3-button w3-theme-l1">FINKI</a>
        <a href="/professors" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Professors</a>
        <a href="/courses" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Courses</a>

        <div sec:authorize="hasRole('ROLE_STUDENT')">
            <a href="/ratingsUP" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Professor Ratings</a>
            <a href="/ratingsUC" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Course Ratings</a>
        </div>

        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <a href="/ratingsUP/all" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Ratings for Professors</a>
            <a href="/ratingsUC/all" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Ratings for Courses</a>
        </div>
        <a href="/studyprograms" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Study Programs</a>
        <a href="/#">
            <span sec:authentication="principal.username"></span>
        </a>
        <a th:href="@{/logout}" class="w3-bar-item w3-button w3-hide-small w3-hover-white float-right">Logout</a>
    </div>
</div>

<div class="w3-main" >

    <div class="w3-row w3-padding-64" style="margin-left:250px">
        <div class="w3-twothird w3-container">
            <h1 class="w3-text-teal">List of all study programs</h1>

            <div class="w3-container">
                <hr>
                <div class="w3-left">
                    <a href="studyprograms/add-new" class="w3-button w3-theme">Add new Study program</a>
                    <br>

                </div>
                <br>
                <br>
                <div class="w3-responsive w3-card-4" th:if="${studyPrograms.size() > 0}">
                    <table class="w3-table w3-striped w3-bordered" >
                        <thead>
                        <tr class="w3-theme">
                            <th scope="col">Code</th>
                            <th></th>
                            <th></th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="studyProgram : ${studyPrograms}">
                            <td th:text="${studyProgram.getCode()}"></td>
                            <td>
                                <form th:action="@{/studyPrograms/{id}/delete(id=${studyProgram.getId()})}" th:method="delete">
                                    <button type="submit" class="w3-button-sm w3-theme">Delete</button>

                                </form>
                            </td >
                            <td><a th:href="@{/studyPrograms/{id}/edit(id=${studyProgram.getId()})}" class="w3-button-sm w3-theme">
                                <button type="submit" class="w3-button-sm w3-theme">Edit</button></a>
                            </td>


                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <a type="button" class="w3-button w3-theme" href="/home">Back</a>

        </div>

    </div>



    <footer id="myFooter" class="fixed-bottom">
        <div class="w3-container w3-theme-l2" style="width: 100%">
            <h6>Jovana Hristova</h6>
        </div>

        <div class="w3-container w3-theme-l1">
            <p>Powered by <a href="https://finki.ukim.mk/" target="_blank">FINKI</a></p>
        </div>
    </footer>

    <!-- END MAIN -->
</div>



</body>
</html>
